
body{
    background-color: #232323;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
}

h1{
    color:#FFF;
    text-align: center;
    background-color: #232323;
    margin: 0;
    line-height: 1.1em;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

#hint{
     display: inline-block;
     width: 20%;
     transition: all 0.7s;
}

#colorDiplay{
    display: block;
    font-size: 140%;
    line-height: 1.1;
}

.selected{
    background-color: #00294f;
    color: white;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
    padding: 0;
    margin: 0;
    border: 5p solid #750c41;
}

.square{
    width: 29%;
    background: purple;
    padding-bottom: 29%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
    transition: all 0.5s;
    border: 1px solid  #00294f;
}

.gonesquare{
    background-color: #232323;
}

#container{
    margin: 0 auto;
    max-width: 600px;
    padding-top: 20px;
}

button{
    background-color:white;
    font-size: 100%;
    font-family: inherit;
    border: none;
    padding: 0 20;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #00294f;
    letter-spacing: 1px;
    outline: none;
    transition: all 1s;
}

button:hover{
    background-color: #00294f;
    color: white;
}